.title-container {
  display: flex;
  justify-content: center;
}
.form-container {
  margin: 5%;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.form-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.payment-btn {
  background-color: #355466 !important;
  color: #6fd6f6 !important;
}
