.title-container {
  display: flex;
  justify-content: center;
}
.form-container {
  margin: 5%;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.form-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  width: 100%;
}
